__pycache__/
.ipynb_checkpoints/
basetts_outputs_use_bert/
basetts_outputs/
multilingual_ckpts
basetts_outputs_package/
build/
*.egg-info/
logs/
*.pth
__pycache__/
*.wavlogs/
*.pth
*.pt
events.out.tfevents*
__pycache__/
